<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Path to OHB web app no trailing space -->
    <add key="TestUrl" value="http://localhost" />
  </appSettings>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080;Database=OhbTests;"/>
  </connectionStrings>
</configuration>