<div class="book-details" xmlns="http://www.w3.org/1999/html">
    <div class="row span12">
        <h1>{{ title }}</h1>
        {{ authors }}{{#publishedYear}}, {{publishedYear}}{{/publishedYear}}
    </div>
    <div class="row">
        <div class="span2">
            <img src="{{ thumbnailUrl }}" title="{{ title }}" alt="{{ title }}" />
        </div>
        <div class="span8">
            <p>{{{ description }}}</p>
        </div>
        <div class="span2 status-toggle-region" />
    </div>
</div>