<div class="book-details row" xmlns="http://www.w3.org/1999/html">
    <div class="row span16">
        <h1>{{ title }}</h1>
        {{ authors }}{{#publishedYear}}, {{publishedYear}}{{/publishedYear}}
    </div>
    <div class="span3">
        <img src="{{ thumbnailUrl }}" title="{{ title }}" alt="{{ title }}" />
    </div>
    <div class="span7">
        <p>{{{ description }}}</p>
    </div>
    <div class="span2">
        {{#hasPreviouslyRead}}
            <a class="status-toggle-button btn btn-success large"><i class="icon-ok icon-white"></i>You have read this book</a>
        {{/hasPreviouslyRead}}
        {{^hasPreviouslyRead}}
            <a class="status-toggle-button btn large"><i class="icon-remove"></i>You have not read this book</a>
        {{/hasPreviouslyRead}}
    </div>
</div>