@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="span12">
    <!-- temp disabled (this will come back as a backbone view)
        <img src="@ViewBag.ProfilePictureUrl" alt="ViewBag.Name" class="pull-left" />

        <h1 style="line-height: 50px; margin-left: 60px;">@ViewBag.Name</h1>
        -->

        <div id="search-results"></div>

        <div id="main-region"></div>

    </div>
</div>
