/* import non-minified blueprint
   (we'll minify it ourselves anyway, and non-minified is easier to read) */
@import "blueprint\reset.css";
@import "blueprint\forms.css";
@import "blueprint\grid.css";

/****************************************************************************
 * Site-wide OO stuff *
 ****************************************************************************/

h1, h2, h3, h4 { font-weight: bold; }

body {
	/* Helvetica/Arial-based sans serif stack from 
       http://articles.sitepoint.com/article/eight-definitive-font-stacks/2 */
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	background-image: url(bg-top-gradient.gif);
	background-repeat: repeat-x;
}

a { text-decoration: none; color: #BF003D; }
a:hover { text-decoration: underline; }

/* external link icons like wikipedia */
a[rel=nofollow] {
	background-image: url(external.png);
	background-repeat: no-repeat;
	padding-right: 12px;
	background-position: right;
}

/* generic styles for 100books forms, drop down menus and buttons etc */

button:active {
    background-position: bottom right;
    padding-top: 6px;
    padding-bottom: 4px;
}

button {
	background-image: url(button-bg.png);
	border: solid 1px #CCC;

	padding: 5px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #aaa;
	
	i {
		width: 10px;
		height: 10px;
		display: block;
		float: right;
		background-image: url(menu-down.png);
		background-position: left 5px;
		background-repeat: no-repeat;
		margin-left: 2px;
	}
}

button.next {
	background-image: url(button-bg-green.png);
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-color: #91b03d;
	color: #2d3d03;
}

span.icon {
	width: 17px;
	height: 14px;
	display: block;
	float: left;
	background-position: left 1px;
	background-repeat: no-repeat;
}
	
span.icon.tick { background-image: url(tick.png); }
span.icon.cross { background-image: url(cross.png); }
span.icon.list { background-image: url(list.png); }
span.icon.add { background-image: url(plus.png); }
span.icon.gear { background-image: url(gear.png); }
span.icon.next { background-image: url(next.png); }

/* menu shite */
div.menu-container {
	
	font-size: 90%;
	line-height: 100%;
	
	button {
		text-align: left;
		
		span.label {
			background-image: url(menu-down.png);
			background-position: right center;
			background-repeat: no-repeat;
			padding-right: 12px;
		}
	}
	
	ul.menu {
		display: none; /* default state */
		
		background-color: White;
		-moz-border-radius:4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: solid 1px #999;
		z-index: 999999;
		position: absolute;
		
		li {
			input { float: right; }
			
			label {
				padding: 5px;
				display: block;
				cursor: pointer;
			}
			
			a {
				padding: 5px;
				display: block;
				color: Black;
				text-decoration: none;
			}
		}
		
		li:hover { background-color: #AAA; }
	}
}

div.menu-container.ui-state-active ul.menu { display: block; }

input[type='text'], textarea { 
	@radius: 5px;
				
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;

	border:1px solid #bbb;
	padding:5px;
}

div.field {
	margin-bottom: 1em;
	margin-top: 0.5em;
	margin-bottom: 1em;
	min-height: 2em;
	
	input, textarea {
		display: block;
	}
	
	span.readonly {
		display: block;
		a.twitter {
			color: #333;
			text-decoration: none;
		}
		a.change { font-size: 80%; }
	}
	
	div.field-requirements {
		font-size: 90%;
		color: #666;
	}
}
 
input.search { 
	background-image: url(search.png);
	background-position: right;
	background-repeat: no-repeat;
}

div.tooltip {
	display:none;
	background-color: #333;
	padding: 0.5em;
	color:white; 
	width: 400px;
	z-index: 99999999; /* on top */
	
	/* opacity according to http://www.quirksmode.org/css/opacity.html */
	opacity: .9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
				
	@radius: 5px;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

/****************************************************************************
 * Page-specific stuff *
 ****************************************************************************/

/* header for normal pages logo on left, brief menu (login/settings/logout)
   on right */
div.side {
	.span-7;
	.column;

	@sidebar-padding: 1em;
	
	div.site-logo {
		.column;
		.span-7;
		margin-bottom: @sidebar-padding * 2;
	}
	
	/* grey box on the left */
	div.sidebar {
		.column;
		.span-7;
		
		background-color: #DDD;
		padding-bottom: @sidebar-padding;
		
		/* sidebar is divided up into these standard units */
		div.sidebar-section {
			.column;
		
			h2 {
				margin-bottom: 0.25em;
				font-size: 110%;
				margin-left: -0.25em;
			}
		}
		
		div.sidebar-section.user-badge {
			margin: @sidebar-padding;
			
			div.icon { .column; }
			
			div.username {
				.column;
				
				a {
					color: black;
					text-decoration: none;
				}
				
				h1 { font-size: 175%; }
				
				div.one-liner {
					font-size: 75%;
					font-weight: bold;
				}
			}
		}
		
		div.sidebar-section.user-meta {
			ul {
				.column;
				margin-left: @sidebar-padding + 0.25em;
				font-size: 75%;
			}
		}
		
		div.sidebar-section.user-lists {
			margin-top: @sidebar-padding;
			margin-left: @sidebar-padding;
			margin-bottom: @sidebar-padding;
			
			ul li.list {
				.column;
				
				div.icon {
					.column;
					.span-1;
				}
				
				div.details {
					.column;
					.span-5;
					.last;
					
					a.name {
						.column;
						.span-5;
						font-size: 85%;
					}
					
					div.progress {
						font-size: 65%;
						display: block;
					}
				}
			}
			
			div.options {
				.column;
				margin-top: 0.5em;
				font-size: 75%;
				
				a { margin-right: 0.5em; }
			}
		}
		
		div.sidebar-section.user-followers {
			margin-left: @sidebar-padding;
			
			table {
				font-size: 0%;
				tr {
					height: 24px;
					padding: 1px;
					margin: 0;
					td { padding: 1px; margin: 0; }
				}
			}
			
			div.options {
				.column;
				margin-top: 0.5em;
				font-size: 75%;
			}
		}
		
		div.sidebar-section.book-cover {
			margin-top: @sidebar-padding;
			width: 100%;
			
			a {
				background-color: #BBB;
				width: 220px;
				height: 260px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				
				img {
					margin-left: -3px;
					margin-top: -3px;
				}
			}
		}
		
		ul.sidebar-section.book-meta {
			.span-6;
			margin: @sidebar-padding + 0.25em;
			font-size: 75%;
		}
		
		div.sidebar-section.menu-container {
			margin: @sidebar-padding;
			width: 240px;
			
			ul.menu, button { width: 240px; }
		}
		
		div.sidebar-section.add-book-to-list 
		{
			display: block;
		}
		
		div.sidebar-section.book-buy-links {
			.span-6;
			margin-left: @sidebar-padding;
			h2 {
				margin-bottom: 0.25em;
				font-size: 110%;
				margin-left: -0.25em;
			}
		}
		
		div.sidebar-section.create-list-instructions {
			margin: @sidebar-padding;
			
			p {
				margin-bottom: 0.5em;
			}
			
			ul {
				margin-left: 1em;
				margin-bottom: 1em;
				
			}
		}
	}
}


/* main bit down the middle */
div.main {
	.span-15;
	.column;
	
	/* footer has a margin-top as well for side bar, but we want to push it
       further away from div.main */
	margin-bottom: 2em; 
	
	/* main section is divided up into these */
	div.main-section {
		.column;
		.span-15;
		.last;
	}
	
	div.main-section.account-menu {
		color: #333;
		text-align: right;
		padding-top: 0.3em;
		margin-bottom: 2.5em;
	
		ul {
			li {
				display: inline;
				padding-left: 0.5em;
				padding-right: 0.5em;
				border-right: 1px solid #CCC;
			}

			li.last {
				border-right: none;
				padding-right: none;
			}
		}
	}
	
	div.main-section.search-bar {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		margin-bottom: 1em;
		
		input.search { 
			width: 590px - (5px * 2); /* .span-15 less radius padding */
		 }
	}
	
	div.main-section.heading {
		h1 {
			a {
				color: #333;
				text-decoration: none;
			}
			
			color: #333;
			font-size: 200%;
			margin-bottom: 0.5em;
		}
	}
	
	div.main-section.book-summary {
		margin-bottom: 1.5em;
	}
	
	@tab-border: solid 1px #CCC;
	
	div.main-section.tabs {
		ul {
			li {
				display: inline;
				
				/* links swell out to fill the tab, so the whole tab is clickable */
				a 
				{
					.column;
					@margin-top-bottom: 0.3em;
					padding-top: @margin-top-bottom;
					padding-bottom: @margin-top-bottom;
					padding-left: 0.65em;
					padding-right: 0.65em;
					margin: 0;
					border: @tab-border;
					background-color: #e5e5e5;
					
					@radius: 5px;
					
					-moz-border-radius-topleft: @radius;
					-webkit-border-top-left-radius: @radius;
					border-top-left-radius: @radius;
					
					-moz-border-radius-topright: @radius;
					-webkit-border-top-right-radius: @radius;
					border-top-right-radius: @radius;
					
					/* bottom of tabs hang over the top of tab-content so the
					   white 'active' tab is contiguous with the content
					   underneath. */
					position: relative;
					z-index: 999;
					
					margin-right: 0.3em; /* gap between tabs */
				}
				
				a:hover { background-color: #CCC; }
			}
			
			li.active {
				a {
					background-color: white;
					border-bottom: solid 1px white;
				}
			}
		}	
	}
	
	div.main-section.blank-list {
		ol {
			margin-left: 1.75em;
			li.book {
				list-style-type: decimal;
				margin-bottom: 1em;
				display: list-item;
				
				input.title {
					width: 525px;
					padding: 2px;
					
					@radius: 3px;
					-moz-border-radius: @radius;
					-webkit-border-radius: @radius;
					border-radius: @radius;
				}
				
				div.book-details {
					color: #999;
					font-size: 80%;
					margin-top: 0.2em;
				}
				
				div.search-results {
					margin-left: 1em;
					margin-top: 0.5em;
					
					li {					
						margin-bottom: 0.5em;
					}
				}
				
				div.search-results.no-results {
					color: #999;
					font-size: 80%;
				}
			}
			
			li.book.ui-state-busy {
				background-image: url(ajax-loader.gif);
				background-position: right;
				background-repeat: no-repeat;
			}
			
			li.book.ui-state-confirmed {
				background-image: url(tick.png);
				background-position: right 4px;
				background-repeat: no-repeat;
			}
		}
		
		button.more-rows {
			float: left;
			margin-left: 2em;
		}
		
		button.next {
			float: right;
			margin-right: 25px;
		
		}
	}
	
	div.main-section.name-your-list {
		input, textarea {
			width: 590px - (5px * 2); /* .span-15 less radius padding */
			display: block;
			margin-bottom: 0.5em;
		}
		
		h2 { font-size: 150%; display: inline; }
		
		ol {
			margin-left: 1.75em;
			li {
				list-style-type: decimal;
				display: list-item;
			}
		}
		
		div.field-requirements {
			font-size: 90%;
			color: #666;
		}
		
		button.create-list { float: right; }
	}
	
	/* content underneath the tabs */
	div.main-section.tab-content {
		border: @tab-border;
		margin-top: -1px; /* hide border under the tabs */	
		
		/* tabs are usually used to display a list (statuses, books etc)  */
		div.main-list {
			.column;
			.span-15;
			
			/* generic list-item style */
			li.list-item {
				.column;
				.span-15;
				
				padding-bottom: 0.8em;
				padding-top: 0.8em;
				border-bottom: dotted 1px #ccc;
				
				/* each list item has an icon... */
				a.item-icon {
					.column;
					.span-2;
					display: block;
					
					img { margin-left: 17px; }
				}
				
				/* ...and description, buttons etc next to it */
				div.item-details {
					width: 495px; /* just slightly more than span-12 */
					.column;
				}
			}
			
			li.list-item.last { border-bottom: none; }
			
			li.list-item:hover {
				background-color: #e5e5e5;
				
				div.list-details div.menu-container {
					button.add { display: block; }
				}
			}
			
			button.more {
				margin: 1em;
				width: 94%;
				padding: 5px;
				-moz-border-radius:5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
			
			/* little grey text under list items e.g. "You are reading this list" */
			div.item-notes {
				color: #999;
				font-size: 75%;
				display: block;
			}
		}
		
		
		div.main-list.reading-lists 
		{
			div.item-details {
				
				margin-top: 0.4em;
				
				div.reading-list-progress {
					float: right;
					color: #999;
					width: 3em;
					text-align:right;
				}
				
				div.reading-list-details {
					.span-9;
					float: left;
				}
				
				div.menu-container {
					float: right;
					
					/* buttons are hidden... */
					button {
						/* opacity according to http://www.quirksmode.org/css/opacity.html */
						opacity: .5;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
						filter: alpha(opacity=50);
					}
				}
			}
			
			li.list-item:hover {					
				div.menu-container {
					/* buttons are hidden... until you mouse over them */
					button {
						opacity: 1;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
					}
				}
			}
		}
		
		div.main-list.statuses {
			div.item-details {
				margin-top: 0.8em;
			}
		}
		
		div.settings {
			margin: 1em;
			margin-bottom: 1.5em;
			
			div.field {
				input, textarea {
					width: 550px - (5px * 2);  /* .span-15 less radius padding */
				}
			}
			
			a.delete-account { font-size: 90%; }
			button.next {
				float: right;
				margin-right: 6px;
			}
			
		}
	}
}

div.signup-page {
	.push-3;
	.span-18;
	.column;
	/*background-color: grey;*/
	
	div.signup-form
	{
		.span-16;
		.push-1;
		.column;
			
		h1 {
			font-size: 200%;
		}
		h2 {
			font-size: 120%;
			span.step-number {
				margin-left: -1.2em;
				width: 1.2em;
				display: block;
				float: left;
				color: #666;
				font-weight: normal;
			}
		  }
		  
		p { margin-bottom: 0.5em; }
		
		div.site-logo {
			.span-7;
		}
		
		button.next {
			width: 10em;
			display: block;
			float: right;
			margin-top: 1em;
		}
		
		fieldset {
			
			background-color: #e5e5e5;
			@radius: 5px;
			-moz-border-radius: @radius;
			-webkit-border-radius: @radius;
			border-radius: @radius;
			padding-top: 1em;
			padding-bottom: 0;
			margin-bottom: 0.5em;
			
			div.field {
				clear: both;
				margin-top: 0.5em;
				margin-bottom: 1em;
				min-height: 2em;
				
				label { 
					width: 75px;
					display: block;
					float: left;
					text-align: right;
					padding-right: 0.5em;
					padding-top: 5px;
				}
				
				span.username-status.available {
					margin-left: 0.5em;
					display: block;
					float: left;
					padding-top: 5px;
					color: #91b03d;
					span.icon { margin-top: 4px; }
				}
				
				input {
					float: left;
				    width: 30em;
				}
				
				input#username { width: 12em; }
				
				div.field-requirements {
					margin-left: 85px;
					clear: both;
				}		
			}
			
			div.field.twitter {
				label { padding-top: 0; }
			}
		}
	}
}

div.footer {
	.span-22;
	.push-1;
	.last;
	.column;
	
	text-align: center;
	color: #333;
	margin-top: 1em;
	
	ul {
		li {
			display: inline;
			padding-left: 0.65em;
			padding-right: 0.65em;
			border-right: 1px solid #CCC;
		}

		li.last {
			border-right: none;
			padding-right: none;
		}
	}
}

div.container.homepage {
	@radius: 15px;
	
	
	
	div.splash {
		.push-1;
		.span-22;
		.column;
		margin-bottom: 0;
		margin-top: 2em;
		margin-bottom: 1em;
		background-image: url(homepage/home-bg.png);
		
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		border-radius: @radius;
		
		height: 550px;
		div.banner {
			.column;
			padding-top: 0;
		
			height: 370px;
			padding-left: 450px;
		
			div.elevator-pitch {
				
				margin-top: 3em;
				margin-right: 1em;
				
				ul {
					margin-top: 1em;
					margin-left: 1em;
					
					li {
						background-image: url(homepage/star.png);
						background-repeat: no-repeat;
						background-position: left 5px;
						padding-left: 1.5em;
						margin-bottom: 0.5em;
					}
				}
			}
			
			div.sign-in {
				margin-top: 1em;
			}
		
		}
	
		div.features {
			color: White;
			.column;
			
			border-top: solid 2px #333;
			width: 870px;
						
			div.feature-set {
				width: 33%;
				float: left;
				
				dl {
					padding-left: 1em;
					padding-right: 0.8em;
					margin-top: 1em;
					margin-bottom: 1em;
					min-height: 145px;
					
					background-position: 220px top;
					background-repeat: no-repeat;
					
					dt { 
						 font-size: 80%; 
						 font-weight: bold;
					}
					
					dd {
						font-size: 80%;
						margin-bottom: 1em;
						color: #DDD;
						float: left;
					}
					
					dd.first { padding-right: 4em; }
					
					border-right: dotted 1px #666;
				}
			}
			
			div.feature-set.first {
				dl {
					background-image: url(homepage/paper.png);
				}
			}
			
			div.feature-set.second {
				dl {
					background-image: url(homepage/list.png);
				}
			}
			
			div.feature-set.third {
				dl {
					background-image: url(homepage/book.png);				
					border-right: none;
				}
				
			}
		}
	}
	
	div.footer {
		a, li.copyright { color: #999; }
	}
}

/* error pages (404, down for maintenance, over capacity etc) */
div.error-page {
	.push-4;
	.span-16;
	.column;
	
	background-color: #e5e5e5;
	border: solid 1px #999;
	
	@radius: 12px;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
	
	margin-top: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	
	div.message {
		.column;
		.prepend-1;
		.last;
		.span-14;
		
		margin-bottom: 1em;
		
		h1  {
			color: #333;
			font-size: 200%;
		}
		
		div.search-bar {
			margin-top: 0.5em;
			input.search {
				width: 550px - (5px * 2); /* .span-15 less radius padding */
			}
		}
	}
	
	div.options {
		.column;
		.prepend-1;
		.span-8;
	}
	
	div.logo {
		.column;
		.span-6;
		.last;
		float: right;
	}
}
