/* import non-minified blueprint
   (we'll minify it ourselves anyway, and non-minified is easier to read) */
@import "blueprint\reset.css";
@import "blueprint\forms.css";
@import "blueprint\grid.css";

h1, h2, h3, h4 { font-weight: bold; }

body {
	/* Helvetica/Arial-based sans serif stack from 
       http://articles.sitepoint.com/article/eight-definitive-font-stacks/2 */
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	background-image: url(bg-top-gradient.gif);
	background-repeat: repeat-x;
}

a { text-decoration: none; color: #BF003D; }
a:hover { text-decoration: underline; }

/* external link icons like wikipedia */
a[rel=nofollow] {
	background-image: url(external.png);
	background-repeat: no-repeat;
	padding-right: 12px;
	background-position: right;
}

@import "forms.less.css";
@import "error-pages.less.css";

/* header for normal pages logo on left, brief menu (login/settings/logout)
   on right */
div.side {
	.span-7;
	.column;

	@sidebar-padding: 1em;
	
	div.site-logo {
		.column;
		.span-7;
		margin-bottom: @sidebar-padding * 2;
	}
	
	/* grey box on the left */
	div.sidebar {
		.column;
		.span-7;
		
		background-color: #DDD;
		padding-bottom: @sidebar-padding;
		
		/* sidebar is divided up into these standard units */
		div.sidebar-section {
			.column;
		
			h2 {
				margin-bottom: 0.25em;
				font-size: 110%;
				margin-left: -0.25em;
			}
		}
		
		div.sidebar-section.user-badge {
			margin: @sidebar-padding;
			
			div.icon { .column; }
			
			div.username {
				.column;
				
				a {
					color: black;
					text-decoration: none;
				}
				
				h1 { font-size: 175%; }
				
				div.one-liner {
					font-size: 75%;
					font-weight: bold;
				}
			}
		}
		
		div.sidebar-section.user-meta {
			ul {
				.column;
				margin-left: @sidebar-padding + 0.25em;
				font-size: 75%;
			}
		}
		
		div.sidebar-section.user-lists {
			margin-top: @sidebar-padding;
			margin-left: @sidebar-padding;
			margin-bottom: @sidebar-padding;
			
			ul li.list {
				.column;
				
				div.icon {
					.column;
					.span-1;
				}
				
				div.details {
					.column;
					.span-5;
					.last;
					
					a.name {
						.column;
						.span-5;
						font-size: 85%;
					}
					
					div.progress {
						font-size: 65%;
						display: block;
					}
				}
			}
			
			div.options {
				.column;
				margin-top: 0.5em;
				font-size: 75%;
				
				a { margin-right: 0.5em; }
			}
		}
		
		div.sidebar-section.user-followers {
			margin-left: @sidebar-padding;
			
			table {
				font-size: 0%;
				tr {
					height: 24px;
					padding: 1px;
					margin: 0;
					td { padding: 1px; margin: 0; }
				}
			}
			
			div.options {
				.column;
				margin-top: 0.5em;
				font-size: 75%;
			}
		}
		
		div.sidebar-section.book-cover {
			margin-top: @sidebar-padding;
			width: 100%;
			
			a {
				background-color: #BBB;
				width: 220px;
				height: 260px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				
				img {
					margin-left: -3px;
					margin-top: -3px;
				}
			}
		}
		
		ul.sidebar-section.book-meta {
			.span-6;
			margin: @sidebar-padding + 0.25em;
			font-size: 75%;
		}
		
		div.sidebar-section.menu-container {
			margin: @sidebar-padding;
			width: 240px;
			
			ul.menu, button { width: 240px; }
		}
		
		div.sidebar-section.add-book-to-list 
		{
			display: block;
			background-color: blue;
		}
		
		div.sidebar-section.book-buy-links {
			.span-6;
			margin-left: @sidebar-padding;
			h2 {
				margin-bottom: 0.25em;
				font-size: 110%;
				margin-left: -0.25em;
			}
		}
	}
}

/* main bit down the middle */
div.main {
	.span-15;
	.column;
	
	/* main section is divided up into these */
	div.main-section {
		.column;
		.span-15;
		.last;
	}
	
	div.main-section.account-menu {
		color: #333;
		text-align: right;
		padding-top: 0.3em;
		margin-bottom: 2.5em;
	
		ul {
			li {
				display: inline;
				padding-left: 0.5em;
				padding-right: 0.5em;
				border-right: 1px solid #CCC;
			}

			li.last {
				border-right: none;
				padding-right: none;
			}
		}
	}
	
	div.main-section.search-bar {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		margin-bottom: 1em;

		input.text { 
			@radius: 5px;
						
			-moz-border-radius: @radius;
			-webkit-border-radius: @radius;
			border-radius: @radius;
			
			width: 590px - (@radius * 2); /* .span-15 less radius padding */
			background-image: url(search.png);
			background-position: right;
			background-repeat: no-repeat;
		 }
	}
	
	div.main-section.book-summary {
		margin-bottom: 1.5em;
		
		a {
			text-decoration: none;
			
			h1 {
				font-size: 200%;
				color: Black;
				margin-bottom: 0.5em;
			}
		}
	}
	
	@tab-border: solid 1px #CCC;
	
	div.main-section.tabs {
		ul {
			li {
				display: inline;
				
				/* links swell out to fill the tab, so the whole tab is clickable */
				a 
				{
					.column;
					@margin-top-bottom: 0.3em;
					padding-top: @margin-top-bottom;
					padding-bottom: @margin-top-bottom;
					padding-left: 0.65em;
					padding-right: 0.65em;
					margin: 0;
					border: @tab-border;
					background-color: #e5e5e5;
					
					@radius: 5px;
					
					-moz-border-radius-topleft: @radius;
					-webkit-border-top-left-radius: @radius;
					border-top-left-radius: @radius;
					
					-moz-border-radius-topright: @radius;
					-webkit-border-top-right-radius: @radius;
					border-top-right-radius: @radius;
					
					/* bottom of tabs hang over the top of tab-content so the
					   white 'active' tab is contiguous with the content
					   underneath. */
					position: relative;
					z-index: 999;
					
					margin-right: 0.3em; /* gap between tabs */
				}
				
				a:hover { background-color: #CCC; }
			}
			
			li.active {
				a {
					background-color: white;
					border-bottom: solid 1px white;
				}
			}
		}	
	}
	
	/* content underneath the tabs */
	div.main-section.tab-content {
		border: @tab-border;
		margin-top: -1px; /* hide border under the tabs */	
		
		/* tabs are usually used to display a list (statuses, books etc)  */
		div.main-list {
			.column;
			.span-15;
			
			/* generic list-item style */
			li.list-item {
				.column;
				.span-15;
				
				padding-bottom: 0.8em;
				padding-top: 0.8em;
				border-bottom: dotted 1px #ccc;
				
				/* each list item has an icon... */
				a.item-icon {
					.column;
					.span-2;
					display: block;
					
					img { margin-left: 17px; }
				}
				
				/* ...and description, buttons etc next to it */
				div.item-details {
					width: 495px; /* just slightly more than span-12 */
					.column;
				}
			}
			
			li.list-item.last { border-bottom: none; }
			
			li.list-item:hover {
				background-color: #e5e5e5;
				
				div.list-details div.menu-container {
					button.add { display: block; }
				}
			}
			
			button.more {
				margin: 1em;
				width: 94%;
				padding: 5px;
				-moz-border-radius:5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
		}
		
		
		div.main-list.reading-lists 
		{
			div.item-details {
				padding-top: 0.8em;
				
				div.reading-list-progress {
					float: right;
					color: #999;
					width: 3em;
					text-align:right;
				}
				
				div.menu-container 
				{
					float: right;
					
					/* push button back up to sit inline with the rest (approx) */
					button { margin-top: -4px; }
					
					/* buttons are hidden... */
					button.add { display: none; }
				}
			}
			
			li.list-item:hover {					
				div.menu-container {
					/* buttons are hidden... until you mouse over them */
					button.add { display: block; }
				}
			}
		}
		
		div.main-list.statuses
		{
			div.item-details {
				span.when {
					margin-top: 0.2em;
					color: #999;
					font-size: 75%;
					display: block;
				}
			}
		}
	}
}

div.footer {
	.span-22;
	.push-1;
	.last;
	.column;
	
	text-align: center;
	color: #333;
	margin-top: 1em;

	ul {
		li {
			display: inline;
			padding-left: 0.65em;
			padding-right: 0.65em;
			border-right: 1px solid #CCC;
		}

		li.last {
			border-right: none;
			padding-right: none;
		}
	}
}