/* error pages (404, down for maintenance, over capacity etc) */
div.error-page {
	.push-4;
	.span-16;
	.column;
	
	background-color: #e5e5e5;
	border: solid 1px #999;
	
	@radius: 12px;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
	
	margin-top: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	
	div.message {
		.column;
		.prepend-1;
		.last;
		
		margin-bottom: 1em;
		
		h1  {
			color: #333;
			font-size: 200%;
		}
	}
	
	div.options {
		.column;
		.prepend-1;
		.span-8;
	}
	
	div.logo {
		.column;
		.span-6;
		.last;
		text-align: right;
	}
}