#search-results {
    border: solid 1px black;
    position: absolute;
    top: 35px;
    left: auto;
    right: auto;
    background-color: white;
    z-index: 99999;
}

.book-search-result:hover {
    background-color: #cccccc;
}