@if (Facebook.Web.FacebookWebContext.Current.IsAuthenticated())
{
    <ul class="nav">
        <li><a href="/">@ViewBag.DisplayName</a></li>
    </ul>
    
    <form class="navbar-search" onsubmit="return false">
        <input class="search-query span3" id="menubar-search-input" type="text" placeholder="Search to add books" />
        <img id="search-loader-spinner" class="hide" src="@Url.Content("~/img/menubar/ajax-loader.gif")" />
    </form>
    
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Sign Out", "LogOut", "Profile")</li>
    </ul>
}
