@{
    ViewBag.Title = "Logged in!";
}

<h2>Hi @ViewBag.Name</h2>

<img src="@ViewBag.ProfilePictureUrl"/>

<table>
    <tr>
        <td>First Name:</td>
        <td>@ViewBag.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@ViewBag.LastName</td>
    </tr>
</table>

<br/>
