@{
    ViewBag.Title = "Logged in!";
}
<div class="row">
    <div class="span16">
        <img src="@ViewBag.ProfilePictureUrl" alt="ViewBag.Name" class="pull-left" />

        <h1 style="line-height: 50px; margin-left: 60px;">@ViewBag.Name</h1>
    </div>
</div>
